<!DOCTYPE html>
<html>
    <head>
        <!-- The various pages will implement the title block -->
        <title>{% block title %}{% endblock %}</title>

        <!-- Link to the CSS stylesheet to style the template -->
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

        <!-- Link to the favicon -->
        <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon-32x32.png')}}">
    </head>
    <body>
        <!-- Add the university logo -->
        <img src="{{url_for('static', filename='uniupo-logo.svg')}}">
        <p>
            <!-- Navigation bar -->
            <ul class="nav">
                <li><a href="{{url_for('index')}}">Home</a></li>
                <li><a href="{{url_for('data')}}">Data</a></li>
                <li><a href="{{url_for('about_us')}}">About us</a></li>
            </ul>
        </p>
        <!-- The web pages will implement the body block -->
        {% block body %}{% endblock %}
    </body>
</html>